.loaderwrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: rgba(254,254,254,0.5);
    cursor: wait;
    opacity: 1;
    color: white;
    font-size: 300;

    &.disabled {
        opacity: 0;
        z-index: -99999;
    }
}